<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Shoepify!</title>
		<meta charset="utf-8">
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
		<!-- Custom CSS -->
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="shortcut icon" href="https://www.surveymonkey.com/favicon.ico?v=3">
	</head>
	<body>
		<!--Navigation-->
		 <div class="navbar-fixed">
		    <nav id="nav_f" class="default_color" role="navigation">
		        <div class="container">
		            <div class="nav-wrapper">
		            <a href="/" id="logo-container" class="brand-logo">Shoepify!</a>
		                <ul class="right hide-on-med-and-down">
		                    <li><a href="#stores">Stores</a></li>
		                    <li><a href="#brands">Brands</a></li>
		                    <li><a target="_blank" href="http://bigzoo.me">Team</a></li>
		                </ul>
		                <ul id="nav-mobile" class="side-nav">
		                    <li><a href="#stores">Stores</a></li>
		                    <li><a href="#brands">Brands</a></li>
		                    <li><a target="_blank" href="http://bigzoo.me">Team</a></li>
		                </ul>
		            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
		            </div>
		        </div>
		    </nav>
		</div>


			<%= yield %>
		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<!-- Compiled and minified JavaScript -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
		<script src="/js/scripts.js"></script>
	</body>
</html>
